[Unit]
Description=Ping Script Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash /bin/autotunnelssh.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target